<!-- <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Edit Product</title>
</head>
<body>
	<div align="center">
		<h1>Edit Product</h1> -->
<!-- 		<br /> -->
<!-- 		<form action="#" th:action="@{/save}" th:object="${user}"
			method="post">
			<table border="0" cellpadding="10">

				<tr>
					<td>Product ID:</td>
					<td><input type="text" th:field="*{id}" readonly="readonly" />
					</td>
				</tr> -->
<!-- 	<form action="#" th:action="@{/save}" th:object="${user}"
			method="post" style="max-width: 800px; margin: 0 auto;">
 -->
<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit Book</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container text-center">
		<div>
			<h1>Edit Book</h1>
		</div>
		<form th:action="@{/saveBook}" th:object="${book}"
			method="post" style="max-width: 800px; margin: 0 auto;"> -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="ISO-8859-1">
  <title>Edit Order</title>
  <link rel="stylesheet" href="./css/style.css">
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body class="light-theme">
  <header>
    <div class="container">
      <nav class="navbar">
        <div class="btn-group">
          <button class="theme-btn theme-btn-mobile light"></button>
          <button class="nav-menu-btn">
            <ion-icon name="menu-outline"></ion-icon>
          </button>

        </div>
        <div class="flex-wrapper">
          <ul class="desktop-nav">
            <li><a href="#P1" class="nav-link">Home</a></li>
            <li><a th:href="@{/register}" class="nav-link">Register</a></li>
            <li><a th:href="@{/login}" class="nav-link">Login</a></li>
          </ul>
        </div>
        <div class="mobile-nav">
          <button class="nav-close-btn">
            <ion-icon name="close-outline"></ion-icon>
          </button>
          <div class="wrapper">
            <p class="h3 nav-title">Main Menu</p>
            <ul>
              <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
              <li class="nav-item"><a th:href="@{/register}" class="nav-link">Register</a></li>
              <li class="nav-item"><a th:href="@{/login}" class="nav-link">Login</a>
              </li>
            </ul>
          </div>
          <div>
            <p class="h3 nav-title">Topics</p>
            <ul>
              <li class="nav-item"><a href="#" class="nav-link">List
                  of Users</a></li>
              <li class="nav-item"><a href="#" class="nav-link">List
                  of Orders</a></li>
              <li class="nav-item"><a href="#" class="nav-link">List
                  of Parks</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <div class="container">
    <div>
      <h1>Edit Order</h1>
    </div>
    <!-- 		
			<form action="#" th:action="@{/save}" th:object="${product}"
			method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>Product Name:</td>
					<td><input type="text" th:field="*{name}" /></td>
				</tr> -->

    <form th:action="@{/saveOrder}" th:object="${order}" method="post" style="max-width: 800px; margin: 0 auto;">
      <div class="form-group row">
        <label class="col-4 col-form-label"> Order ID: </label>
        <div class="col-8">
          <input type="text" th:field="*{orderId}" class="form-control" required readonly="readonly" />
        </div>
      </div>

      <div class="m-3">
        <div class="form-group row">
          <label class="col-4 col-form-label"> Payment method: </label>
          <div class="col-8">
            <!-- 						<input type="text" th:field="*{payment}" class="form-control" required /> -->

            <select th:field="*{payment}">
              <option th:each="option : ${paymentOptions}" th:value="${option}" th:text="${option}"></option>

            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label">Select park(s): </label>
          <div class="col-8">
            <input type="checkbox" name="roles" th:each="park : ${listParks}" th:text="${park.parkName}"
              th:value="${park.parkId}" th:field="*{parks}" />
          </div>
        </div>

        <div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>

  <!--- #FOOTER-->
  <footer>
    <div class="container">
      <div class="wrapper">
        <a href="#" class="footer-logo"> <img src="./images/leaf.svg" alt="Leaf Team's Logo" width="120"
            class="logo-light">
        </a>
        <p class="footer-text">Leaf Team is looking for good places
          around Montreal and share with you all.</p>
      </div>
      <div class="wrapper">
        <p class="footer-title">Leaf Team Memebers</p>
        <ul>
          <li><a href="#" class="footer-link">Darby, Kevin</a></li>
          <li><a href="#" class="footer-link">Su, Xiaoming</a></li>
          <li><a href="#" class="footer-link">Wu, Wei</a></li>
        </ul>
      </div>
      <div class="wrapper">
        <p class="footer-title">Leaf Team</p>
        <ul>
          <li><a href="#" class="footer-link">Privacy Notice</a></li>
          <li><a href="#" class="footer-link">Cookie Policy</a></li>
          <li><a href="#" class="footer-link">Terms Of Use</a></li>
        </ul>
      </div>
    </div>

    <p class="copyright">
      &copy; Copyright 2022 <a href="#">Leaf Team</a>
    </p>
  </footer>
</body>

</html>